@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Prueba Seguros
    Una empresa de seguros desea centralizar la gestión de las pólizas que se administran en diferentes agencias a lo largo del país. El departamento de tecnología ha decidido realizar la implementación de una aplicación web.
    Una póliza de seguro se compone de la siguiente información:<br />
    ● Nombre y descripción.<br />
    ● Tipo de cubrimiento(s) de la póliza (Terremoto, incendio, Robo, Pérdida, etc). La cobertura se define en porcentaje.<br />
    ● Inicio de vigencia de la póliza.<br />
    ● Periodo de cobertura definido en meses<br />
    ● Precio de la poliza.<br />
    ● Tipo de Riesgo (bajo, medio, medio-alto, alto)<br />
    El proyecto desarrollará la gestión de pólizas, donde se requiere:<br />
    ● Administración de una póliza (CRUD).<br />
    ● Asignación o cancelación de una o varias pólizas a un cliente<br />
    La empresa de seguros, ha solicitado agregar la siguiente regla de negocio:
    Cuando una póliza de seguro, contiene una línea de riesgo alto, el porcentaje de cubrimiento no puede ser superior al 50%.
</p>
